@media(max-width:767px) {
    /* header_part responsive css start here  */

    #header_part {
        background-color: #5724BB;
        text-align: center;

    }

    .menu_icon {
        font-size: 20px;
        background-color: #fff;
        padding: 8px 12px;
        border: 1px solid #fff;
        border-radius: 10px;
        outline: 0;
    }

    .main_nav .logo {
        color: #fff;
    }

    .main_nav #myNav ul li a {
        color: #fff;
    }

    #myNav .register {
        padding: 0px;
        margin: 0px;
    }

    #myNav .register .book a {
        border: 1px solid #fff;
        color: #fff;
    }

    /* header_part responsive css end here  */

    /* banner_slide responsive css start here  */

    #banner_slide .container {
        max-width: 100%;
        padding: 0px;
    }

    .banner_slide h3 {
        color: #fff;
        font-size: 25px;
        font-weight: 700;
    }

    .banner_slide p {
        font-size: 13px;
    }

    /* banner_slide responsive css end here  */

    /* elearning_content responsive css start here  */

    .elearning_content {
        padding-top: 20px;
    }

    .courses_item .card {
        width: 100%;
    }

    .hover {
        padding: 8px 25px !important;
    }

    /* elearning_content responsive css end here  */

    #callToaction {
        padding: 20px 0px;
    }

    /* our_team responsive css end here  */

    #our_team {
        padding: 30px 0px 10px;
    }

    #our_team .sec_title {
        text-align: center;
    }

    .teams .allbtn a {
        margin-top: 15px;
    }

    /* our_team responsive css end here  */

    .callitems {
        text-align: center;
    }

    .callitems ul {
        flex-direction: column;
    }

    .callbtn {
        margin-top: 18px;
    }

    #frequently_accordian {
        padding-bottom: 20px;
    }

    /* footer responsive css start  here  */

    footer {
        padding: 45px 0px 25px;
    }

    .footer_content .ftr_menu li {
        margin: 0px 6px;
    }

    /* footer responsive css end  here  */



}

@media(min-width:768px) and (max-width:991px) {
    /* header_part responsive css start here  */

    .logo {
        font-size: 15px;
    }

    .main_nav #myNav ul li {
        margin: 0px 4px;
    }

    .main_nav #myNav ul li a {
        font-size: 10px;
        padding: 4px;
        color: #000;
    }

    #myNav ul .book a {
        margin-top: 10px;
        padding: 5px 10px;
    }

    /* header_part responsive css end here  */

    .courses_item .card {
        width: 100%;
    }

    .callItems h3 {
        font-size: 18px;
        padding-bottom: 15px;
    }

    .callItems p {
        font-size: 13px;
        color: #ddd;
        line-height: 20px;
    }

    .callbtn a {
        font-size: 16px;
        padding: 8px 25px;
    }


}

@media(max-width:991px) {
    .teams .card {
        margin-bottom: 18px;
    }

    #frequently_accordian {
        padding-bottom: 25px;
    }
}

@media(min-width:0px) and (max-width:991px) {
    #our_partner {
        padding: 40px 0px;
        display: none;
    }
}

@media(max-width:575px) {

    #our_courses {
        padding: 30px 0px;
    }

    .footer_content .ftr_menu {
        flex-direction: column;
    }

    .footer_content .ftr_menu li {
        display: block;
        margin: 8px 0px;
    }

    .footer_content .ftr_menu li a {
        font-size: 14px;
    }

}