@media(max-width:767px) {
    #header_part {
        background-color: #5724BB;
        text-align: center;

    }

    .menu_icon {
        font-size: 20px;
        background-color: #fff;
        padding: 8px 12px;
        border: 1px solid #fff;
        border-radius: 10px;
        outline: 0;
    }

    .main_nav .logo {
        color: #fff;
    }

    .main_nav #myNav ul li a {
        color: #fff;
    }

    #myNav .register {
        padding: 0px;
        margin: 0px;
    }

    #myNav .register .book a {
        border: 1px solid #fff;
        color: #fff;
    }

    #banner_slide .container {
        max-width: 100%;
        padding: 0px;
    }

    .banner_slide h3 {
        color: #fff;
        font-size: 25px;
        font-weight: 700;
    }

    .banner_slide p {
        font-size: 13px;
    }

    .elearning_content {
        padding-top: 20px;
    }

    #callToaction {
        padding: 20px 0px;
    }

    .callitems {
        text-align: center;
    }

    .callitems ul {
        flex-direction: column;
    }

    .callbtn {
        margin-top: 18px;
    }
}

@media(min-width:768px) and (max-width:991px) {
    .main_nav #myNav ul li {
        margin: 0px 4px;
    }

    .main_nav #myNav ul li a {
        font-size: 14px;
        padding: 4px;
        color: #000;
    }

    #myNav ul .book a {
        margin-top: 10px;
        padding: 8px 12px;
    }

    .courses_item .card {
        width: 100%;
    }

    .callItems h3 {
        font-size: 18px;
        padding-bottom: 15px;
    }

    .callItems p {
        font-size: 13px;
        color: #ddd;
        line-height: 20px;
    }

    .callbtn a {
        font-size: 16px;
        padding: 8px 25px;
    }


}

@media(max-width:767px) {
    .courses_item .card {
        width: 100%;
    }

    .hover {
        padding: 8px 25px !important;
    }

}

@media(max-width:991px) {
    .teams .card {
        margin-bottom: 18px;
    }
}

@media(min-width:0px) and (max-width:991px) {
    #our_partner {
        padding: 40px 0px;
        display: none;
    }
}